[submodule "TeraPanel"]
	path = TeraPanel
	url = git@github.com:FairyLightsStudio/BlackPanel.git
[submodule "PoWCAPTCHA"]
	path = PoWCAPTCHA
	url = git@github.com:FairyLightsStudio/FairyCAPTCHA.git
	branch = dev
[submodule "ChatHistoryCat"]
	path = ChatHistoryCat
	url = git@github.com:FairyLightsStudio/ChatHistoryCat.git
[submodule "UserCenter"]
	path = UserCenter
	url = git@github.com:FairyLightsStudio/UserCenter.git
[submodule "DesignAssets"]
	path = DesignAssets
	url = https://github.com/FairyLightsStudio/DesignAssets.git
[submodule "AngularM3EComponents"]
	path = AngularM3EComponents
	url = git@tangled.org:did:plc:ldzwhpohsh4m2t77jnxm7mhm
[submodule "BetterInternet"]
	path = BetterInternet
	url = ssh://git@codeberg.org/FairyLightsStudio/BetterInternet.git
[submodule "AboutUs"]
	path = AboutUs
	url = git@github.com:FairyLightsStudio/AboutUs.git
[submodule "TeraPanelDocsSite"]
	path = TeraPanelDocsSite
	url = git@github.com:FairyLightsStudio/TeraPanelDocsSite.git
[submodule "LiLi_converter"]
	path = LiLi_converter
	url = git@github.com:FairyLightsStudio/LiLi_converter.git
[submodule "OurScratch"]
	path = OurScratch
	url = git@github.com:FairyLightsStudio/OurScratch.git
[submodule "MilkyMayServiceHall"]
	path = MilkyMayServiceHall
	url = git@github.com:FairyLightsStudio/MilkyMayServiceHall.git
[submodule "SeekAstro"]
	path = SeekAstro
	url = git@github.com:FairyLightsStudio/SeekAstro.git
