[submodule "TeraPanel"]
	path = TeraPanel
	url = git@github.com:FairyLightsStudio/BlackPanel.git
[submodule "PoWCAPTCHA"]
	path = PoWCAPTCHA
	url = git@github.com:FairyLightsStudio/FairyCAPTCHA.git
	branch = dev
