[submodule "TeraPanel"]
	path = TeraPanel
	url = git@github.com:FairyLightsStudio/BlackPanel.git
[submodule "PoWCAPTCHA"]
	path = PoWCAPTCHA
	url = git@github.com:FairyLightsStudio/FairyCAPTCHA.git
	branch = dev
[submodule "ChatHistoryCat"]
	path = ChatHistoryCat
	url = git@github.com:FairyLightsStudio/ChatHistoryCat.git
[submodule "UserCenter"]
	path = UserCenter
	url = git@github.com:FairyLightsStudio/UserCenter.git
